{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui text container">
      <h1>Hello {% if not (current_user.is_authenticated) %} {% else %} {{ current_user.full_name() }} {% endif %},</h1>
		 <p>A <a href="http://flask.pocoo.org">Flask</a> web project/application containing user/employee management facilities.
		 <p> </p>
		<p class="copyright text-muted small">Copyright © 2019. All Rights Reserved</p>
		<p class="copyright text-muted small"> <a href="https://www.facebook.com/paradox.jabed">Md Jabed Ali.</a>  </p>
    </div>
{% endblock %}
